<div *ngIf="!userService.userIsAuthenticated()" class="container">
  <div class="row">
    <H1>Vous n'êtes pas autorisé à accéder à cette page.</H1>
    <p>Veillez vous <a routerLink="/connection">connecter</a> ou retourner sur la page d'<a routerLink="/home">accueil</a></p>
  </div>
</div>

<div *ngIf="userService.userIsAuthenticated()" class="container">
  <div class="row">
    <h1>Bienvenue {{currentUser.prenomUser}}</h1>
  </div>

  <div *ngIf="userService.userIsAdmin()" class="row">
    <vawec-compte-admin class="col-12"></vawec-compte-admin>
  </div>

  <div *ngIf="userService.userIsMember()" class="row">
    <vawec-compte-user class="col-12"></vawec-compte-user>
  </div>

  <div *ngIf="userService.userIsFirm()" class="row">
    <vawec-compte-firm class="col-12"></vawec-compte-firm>
  </div>

</div>
