<div class="row">
  <h2>Gestion des utilisateurs</h2>
</div>
<div class="row">
  <div class="col-12">
    <div class="row">
      <div class="col-2">
        <b>Nom</b>
      </div>
      <div class="col-2">
        <b>Prénom</b>
      </div>
      <div class="col-3">
        <b>Mail</b>
      </div>
      <div class="col-2">
        <b>Statut</b>
      </div>
    </div>
    <div class="row user" *ngFor="let user of users | paginate: { itemsPerPage: 10, currentPage: p }">
      <div class="col-2">{{user.nomUser}}</div>
      <div class="col-2">{{user.prenomUser}}</div>
      <div class="col-3 mail">{{user.mailUser}}</div>
      <div class="col-2" *ngIf="user.administrateur">Admin</div>
      <div class="col-2" *ngIf="user.entreprise">Entreprise</div>
      <div class="col-2" *ngIf="!user.entreprise && !user.administrateur">Demandeur</div>
      <div class="col-1">
        <button type="button" class="btn btn-info">
          <a [routerLink]="['/compte/details/', user.idUser]">
            <svg fill="#fff" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
              <path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z" />
              <path d="M0 0h24v24H0z" fill="none" />
            </svg>
          </a>
        </button>
      </div>
      <div class="col-1">
        <button type="button" class="btn btn-info">
            <a [routerLink]="['/compte/modifications/', user.idUser]">
          <svg fill="#fff" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
            <path d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"
            />
            <path d="M0 0h24v24H0z" fill="none" />
          </svg>
          </a>
        </button>
      </div>
      <div class="col-1">
        <button class="btn btn-danger">
          <svg fill="#fff" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
            <path d="M15 16h4v2h-4zm0-8h7v2h-7zm0 4h6v2h-6zM3 18c0 1.1.9 2 2 2h6c1.1 0 2-.9 2-2V8H3v10zM14 5h-3l-1-1H6L5 5H2v2h12z" />
            <path d="M0 0h24v24H0z" fill="none" />
          </svg>
        </button>
      </div>
    </div>
    <pagination-controls previousLabel="Précédente" nextLabel="Suivante" (pageChange)="p = $event"></pagination-controls>
  </div>
</div>