<div class="row">
  <div class="col-12 col-lg-2">
    <div class="row">
      <a [routerLink]="['/compte/details/', currentUser.idUser]">
        <button type="button" class="btn btn-info">
          Voir votre profil
        </button>
      </a>
      <a [routerLink]="['/offres/add']">
        <button type="button" class="btn btn-info">
          Ajouter une offre
        </button>
      </a>
      <button *ngIf="showMyOffres" class="btn btn-info" (click)="showingCandidature()">
        Voir les candidats
      </button>
      <button *ngIf="showCandidature" class="btn btn-info" (click)="showingMyOffre()">
        Voir vos offres
      </button>
    </div>
  </div>

  <div class="col-12 col-lg-10" *ngIf="offres && showMyOffres">
    <h2>Stat</h2>
    <p>Vous avez actuellement {{offres.length}} offre(s) d'emploi sur le site</p>
    <div class="row" *ngIf="offres.length > 0">
      <h2>Retrouvez ci-dessous la liste de vos offres d'emplois :</h2>
      <div class="row">
        <div class="col-4" *ngFor="let offre of offres; let i=index" #show>
          <div class="card">
            <div class="card-body">
              <a [routerLink]="['/offres/details/', offre.idOffre]">
                <h4 class="card-title">{{offre.titreOffre}}</h4>
                <p class="card-text">{{offre.introduction}}</p>
              </a>
              <p class="card-text">
                <small class="text-muted">Publiée le {{offre.datePublication | date:'fullDate':'':'fr' }}</small>
                <br>
                <small *ngIf="candidatures" class="text-muted">Offre mise en favorite {{count(offre.idOffre)}} fois</small>
              </p>
              <button *ngIf="!offre.alertDelete" class='btn btn-secondary btn-sm' (click)="offre.alertDelete = true">Supprimé</button>
              <div *ngIf="offre.alertDelete" class="alert alert-danger" role="alert">
                {{alerteMessage}}
              </div>
              <div *ngIf="offre.alertDelete" class="offre-choose">
                <button class='btn btn-secondary btn-sm' (click)="offre.alertDelete = false">non</button>
                <button class='btn btn-danger btn-sm' (click)="valideDelete(offre.idOffre)">oui</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 col-lg-10" *ngIf="showCandidature">
    <div class="row">
      <h2>Liste des candidatures</h2>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="row">
            <div class="col-1">
              <b>N°</b>
            </div>
          <div class="col-2">
            <b>Titre de l'offre</b>
          </div>
          <div class="col-3">
            <b>Nom du candidat</b>
          </div>
          <div class="col-2">
            <b>Prénom du candidat</b>
          </div>
          <div class="col-3">
            <b>Mail du candidat</b>
          </div>

        </div>
        <div class="row user" *ngFor="let candidature of candidatures ">
          <div class="col-1">{{candidature.idOffre}}</div>
          <div class="col-2"><a class="link" [routerLink]="['/offres/details/', candidature.idOffre]">{{candidature.titreOffre | slice:0:20}}...</a></div>
          <div class="col-3">{{candidature.nomUser}}</div>
          <div class="col-2">{{candidature.prenomUser}}</div>
          <div *ngIf="candidature.mailUser.length > 20" class="col-3 mail">{{candidature.mailUser | slice:0:17}}...</div>
          <div *ngIf="candidature.mailUser.length <= 20" class="col-3 mail">{{candidature.mailUser}}</div>
          <div class="col-1">
            <button type="button" class="btn btn-info">
              <a [routerLink]="['/compte/details/', candidature.idUser]">
                <svg fill="#fff" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z" />
                  <path d="M0 0h24v24H0z" fill="none" />
                </svg>
              </a>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
