<div class="row">
  <div class="col-3">
    <div class="row">
      <h2 class="col-12">Sous menu</h2>
      <div class="col-12">
        <button class="btn btn-primary">Gérer les utilisateurs</button>
      </div>
      <div class="col-12">
        <button class="btn btn-primary">Gérer les entreprises</button>
      </div>
      <div class="col-12">
        <button class="btn btn-primary">Gérer les offres</button>
      </div>
    </div>
  </div>
  <div class="col-9">
    <div class="row">
      <div class="col-12">
        <h2>Statistiques </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <p>
          <em>Nombre d'utilisateur</em>
        </p>
        <p>{{compteNombreUser}}</p>
      </div>
      <div class="col-4">
        <p>
          <em>Nombre d'entreprise</em>
        </p>
        <p>{{compteNombreFirm}}</p>
      </div>
      <div class="col-4">
        <p>
          <em>Nombre d'offres</em>
        </p>
        <p>{{compteNombreOffre}}</p>
      </div>
    </div>
  </div>
</div>