.col-4{
    margin-bottom: 30px;
}
.card {
    height : 100%;
    label{
        vertical-align: middle;
        margin-right: 10px;
    }
    input{
        vertical-align: middle;
        position: relative;
        top: -2px;
    }
}