<div class="container">
  <div class="row">
    <h1>Bienvenue sur le site de recherche d'emploi des développeurs et des administrateurs réseaux</h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <ul>
      <li>Finir la récupération de l'utilisateur dans la page mon compte et Initialiser une varable de type user</li>
      <li>Initialiser des variables de type boolean afin de savoir si c'est un admin ou une entreprise ou un membre</li>
      <li>Changer le menu en fonction des rôles</li>
      
      <li>FINIR LE SYSTEME DE LOGIN AVEC LA SAUVEGARDE DU TOKEN </li>
    </ul>
  </div>
</div>
