<div class="container">
  <div class="row">
    <h1>Bienvenue sur le site de recherche d'emploi des développeurs et des administrateurs réseaux</h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <ul>
      
      <li>Mettre en place dans la page compte des stats et créer des liens en fonction des rôles.
        <ul>
          <li>rôle admin : voir les utilisateurs, supprimer des annonces, supprimer des utilisateurs, stat ( nom user, nombre
            annonce )</li>
          <li>rôle firm : créer une annonce, supprimer une annonce, voir les candidatures, voir les annonces stat( nbre candidatures,
            nbre d'annonnces )</li>
          <li>rôle membre : compter le nombre d'annonce favorite + lien</li>
          <li></li>
        </ul>
      </li>
      <li>revoir la regex pour les offres ( date ou asap )</li>
      <li>régler la nav avec les bon liens ayant la class active ( child ? )</li>
      <li>revoir condition setuser </li>
    </ul>
  </div>
</div>

