<div class="container">
  <div class="row">
    <h1>Bienvenue sur le site de recherche d'emploi des développeurs et des administrateurs réseaux</h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <ul>
      <li>
        <ul>
          <li>rôle firm : créer une annonce, supprimer une annonce, voir les candidatures, voir les annonces stat( nbre candidatures,
            nbre d'annonnces )</li>
          <li></li>
        </ul>
      </li>
      <li>revoir la regex pour les offres ( date ou asap )</li>
      <li>Dans l'API si le token est valide, le décrypter pour savoir le type d'utilisateur et rajouter des tests sur les requettes.
        Exemple si l'user est admin getallUser est autorisé sinon retourner 401</li>
      <li>mettre en place les test de sécurité pour les offres </li>
    </ul>
  </div>
</div>